:root {
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --pure-white: white;
  --order-active: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  font-size: 16px;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/*
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.section {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  // color: inherit;
}
*/
.section {
  @media screen and (max-width: 1199px) {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 24px 0 24px 156px;
  /* max-width: 1199px; */
  gap: 40px;
}

.contacts {
  display: flex;
  padding-left: 250px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-brand-color);
}

.logo-header {
  color: var(--dark-color);
}

.nav-list,
.contacts,
.benefits,
.our-work,
.team-cards,
.nav-local,
.cards {
  list-style-type: none;
  margin: 0;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-global {
  font-weight: 700;
  font-size: 16px;
  color: var(--dark-color);
  text-decoration: none;
  letter-spacing: 0.02em;
}

.nav-global:hover,
.nav-global:active {
  color: var(--primary-brand-color);
}

.current {
  color: var(--primary-brand-color);
}

.contacts,
.navlist {
  display: flex;
  gap: 40px;
}

.contact {
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
}

.contact:hover {
  color: var(--primary-brand-color);
}

.order,
.footer {
  background-color: var(--dark-color);
}

.order {
  text-align: center;
}

.order h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--pure-white);
  text-align: center;
  letter-spacing: 0.02em;
}

.order-button {
  cursor: pointer;
  color: var(--pure-white);
  background-color: var(--primary-brand-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

.order-button:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.order-button:active {
  background: var(--order-active);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits,
.our-work,
.team-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.benefits li {
  width: 264px;
}

.benefit-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.benefit-description {
  line-height: 1.5;
}

.presentation h2,
.our-team h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.our-team {
  background-color: var(--light-color);
  text-align: center;
}

.our-team h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.worker-position {
  line-height: 1.5;
}

.buttons {
  cursor: pointer;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.buttons:hover {
  background: var(--primary-brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--pure-white);
}

.cards > li {
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-name {
  font-weight: 700;
  font-size: 20px;
  color: var(--dark-color);
}

.project-type {
  line-height: 1.5;
}

.footer {
  background-color: var(--dark-color);
  flex-direction: column;
  /* justify-content: flex-start; */
  height: 310px;
  /* display: block;*/
  padding: 100px 1020px 100px 156px;
  row-gap: 16px;
}

.logo-footer {
  color: var(--light-color);
  margin-bottom: 24px;
}

.footer-text {
  color: var(--accent-color);
  width: 264px;
}
